---
import Layout from '@layouts/layout.astro'
import Seo from '@components/seo.astro'
import { getCollection } from 'astro:content'
import SkipNavContent from '@components/a11y/skip-nav-content.astro'
import { defaultDateFormat, sortDesc, typeLabel } from '@utils'
import Spacer from '@components/spacer.astro'
import Link from '@components/link.astro'

const posts = sortDesc(await getCollection('blog'))
---

<Layout>
	<Seo slot="seo" title="Blog" />
	<SkipNavContent>
		<h1 class="sr-only">Blog</h1>
		<div class="flex gap-10 flex-col">
			{
				posts.map(({ data: post }) => (
					<div>
						<div class="uppercase tracking-wide text-xs font-semibold text-highlight">{typeLabel(post.type)}</div>
						<Spacer axis="vertical" size={1.5} />
						<Link variant="highlight" class="font-bold" href={`/blog/${post.slug}/`}>
							{post.title}
						</Link>
						<Spacer axis="vertical" size={2} />
						<div class="text-subtle text-md md:text-lg">{post.description}</div>
						<Spacer axis="vertical" size={2} />
						<div class="text-faded">
							{defaultDateFormat(post.date)} — {post.tags.join(', ')}
						</div>
					</div>
				))
			}
		</div>
	</SkipNavContent>
</Layout>
