---
import Layout from '@layouts/layout.astro'
import Seo from '@components/seo.astro'
import { getCollection } from 'astro:content'
import { Content as Hero } from '@assets/hero.mdx'
import SkipNavContent from '@components/a11y/skip-nav-content.astro'
import { defaultDateFormat, sortDesc } from '@utils'
import Link from '@components/link.astro'
import Prose from '@components/prose.astro'
import Spacer from '@components/spacer.astro'
import { SITE } from '@constants'

const OSS_PROJECTS: Array<{ name: string; url: string; description: string }> = []

const FRAMES_TO_SHOW = 3
const BASIC_POSTS_TO_SHOW = 3
const APPLICATION_POSTS_TO_SHOW = 3

const basicPosts = sortDesc(await getCollection('blog', ({ data }) => data.type === 'basic')).slice(
	0,
	BASIC_POSTS_TO_SHOW,
)
const applicationPosts = sortDesc(await getCollection('blog', ({ data }) => data.type === 'application')).slice(
	0,
	APPLICATION_POSTS_TO_SHOW,
)
const frames = sortDesc(await getCollection('frame')).slice(0, FRAMES_TO_SHOW)
---

<Layout>
	<Seo slot="seo" />
	<SkipNavContent>
		<h1 class="sr-only">{SITE.title}</h1>
		<Prose>
			<Hero />
		</Prose>
		<Spacer axis="vertical" size={32} />
		{
			frames.length ? (
				<>
					<section>
						<div class="border-b border-border pb-4 flex justify-between items-center">
							<h2 class="font-medium text-lg md:text-xl lg:text-2xl text-highlight">Latest Frames</h2>
							<div>
								<Link href="/frame/">Read all frames</Link>
							</div>
						</div>
						<Spacer axis="vertical" size={8} />
						<div class="flex gap-10 flex-col">
							{frames.map(({ data: frame }) => (
								<div>
									<Link variant="highlight" href={`/frame/${frame.slug}/`}>
										{frame.title}
									</Link>
									<Spacer axis="vertical" size={2} />
									<div class="text-faded">{defaultDateFormat(frame.date)}</div>
								</div>
							))}
						</div>
					</section>
					<Spacer axis="vertical" size={32} />
				</>
			) : null
		}
		{
			basicPosts.length ? (
				<>
					<section>
						<div class="border-b border-border pb-4 flex justify-between items-center">
							<h2 class="font-medium text-lg md:text-xl lg:text-2xl text-highlight">Basic Posts</h2>
							<div>
								<Link href="/blog/type/basic/">Read all basic</Link>
							</div>
						</div>
						<Spacer axis="vertical" size={8} />
						<div class="flex gap-10 flex-col">
							{basicPosts.map(({ data: post }) => (
								<div>
									<Link variant="highlight" class="font-bold" href={`/blog/${post.slug}/`}>
										{post.title}
									</Link>
									<Spacer axis="vertical" size={2} />
									<div class="text-subtle text-md md:text-lg">{post.description}</div>
									<Spacer axis="vertical" size={2} />
									<div class="text-faded">
										{defaultDateFormat(post.date)} — {post.tags.join(', ')}
									</div>
								</div>
							))}
						</div>
					</section>
					<Spacer axis="vertical" size={32} />
				</>
			) : null
		}
		{
			applicationPosts.length ? (
				<>
					<section>
						<div class="border-b border-border pb-4 flex justify-between items-center">
							<h2 class="font-medium text-lg md:text-xl lg:text-2xl text-highlight">Application Posts</h2>
							<div>
								<Link href="/blog/type/application/">Read all application</Link>
							</div>
						</div>
						<Spacer axis="vertical" size={8} />
						<div class="flex gap-10 flex-col">
							{applicationPosts.map(({ data: post }) => (
								<div>
									<Link variant="highlight" class="font-bold" href={`/blog/${post.slug}/`}>
										{post.title}
									</Link>
									<Spacer axis="vertical" size={2} />
									<div class="text-subtle text-md md:text-lg">{post.description}</div>
									<Spacer axis="vertical" size={2} />
									<div class="text-faded">
										{defaultDateFormat(post.date)} — {post.tags.join(', ')}
									</div>
								</div>
							))}
						</div>
					</section>
					<Spacer axis="vertical" size={32} />
				</>
			) : null
		}

		<Spacer axis="vertical" size={32} />
	</SkipNavContent>
</Layout>
